<div layout="column" layout-padding>
    </md-content>
    <md-input-container class="md-icon-float md-block">
        <label>Name</label>
        <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
        <input ng-model="$ctrl.group.title" type="text">
    </md-input-container>
    <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="$ctrl.group.description" md-maxlength="1000" rows="8" md-select-on-focus></textarea>
    </md-input-container>
    <br/>
    <span class="smallHeader">Tags</span>
    <md-chips ng-model="$ctrl.group.tags" placeholder="Separate tags with comma" secondary-placeholder="Separate tags with comma" readonly="false" md-separator-keys="$ctrl.keys"></md-chips>

    <div layout="row" layout-padding>
        <span flex></span>
        <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
        <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
    </div>
    </md-content>
</div>
