<div layout="row" layout-padding>
    <md-content class="md-no-momentum">
        <div layout="row" layout-padding>
            <div>
                <h4>Profile picture</h4>
            </div>
            <div layout="column">
                <div layout="row">
                    <div layout="column" layout-padding>
                        <div class="md-headline">{{$ctrl.model.vorname}} {{$ctrl.model.surname}}</div>
                        <div>
                            <md-input-container class="md-icon-float md-block">
                                <label>Description</label>
                                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                                <input ng-model="$ctrl.model.bio" type="text">
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column" layout-padding>
                        <div class="md-headline">Skill Level</div>
                        <div class="md-subhead">Skill 1</div>
                        <div class="md-subhead">Skill 2</div>
                        <div class="md-subhead">Skill 3</div>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div class="md-title">Would like to learn: {{$ctrl.getCurrentUserGoals()}}</div>
                </div>
            </div>
        </div>
    </md-content>
</div>
