<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <div layout="row" layout-padding>
            <div layout="column">
                <div>
                    <h4>Profile picture</h4>
                </div>
                <div layout="column" layout-align="center center">
                    <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
                    <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
                </div>
            </div>
            <div layout="column">
                <div layout="row">
                    <div layout="column">
                        <div>
                            <md-input-container class="md-block">
                                <label>First name</label>
                                <input ng-model="$ctrl.model.vorname">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Last name</label>
                                <input ng-model="$ctrl.model.surname">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Description</label>
                                <textarea ng-model="$ctrl.model.bio" rows="5"></textarea>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Would like to learn</label>
                                <textarea ng-model="$ctrl.model.goals" rows="3"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="column">
                        <md-list>
                            <md-list-item aria-label="Skill" ng-repeat="skill in $ctrl.model.skills">
                                <md-input-container>
                                    <input ng-model="skill.name" placeholder="Skill name">
                                </md-input-container>
                                <md-input-container>
                                    <md-select ng-model="skill.rank">
                                        <md-option value="5">5/5</md-option>
                                        <md-option value="4">4/5</md-option>
                                        <md-option value="3">3/5</md-option>
                                        <md-option value="2">2/5</md-option>
                                        <md-option value="1">1/5</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-button class="md-icon-button" aria-label="Remove Skill" ng-click="$ctrl.remove(skill)">
                                    <md-icon><ng-md-icon icon="delete"></ng-md-icon></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                        <div layout="row" layout-align="center start">
                            <md-button class="md-raised" aria-label="Add Skill" ng-click="$ctrl.addSkill()">
                                Add a skill
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
