
<div layout="column" layout-padding>
    </md-content>
    <div layout="row" layout-padding>
        <div layout="column">
            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.event.title" type="text">
            </md-input-container>
            <form name="groupForm">
                <md-autocomplete required
                    md-input-name="autocompleteField"
                    md-selected-item="$ctrl.event.group"
                    md-search-text="$ctrl.searchText"
                    md-items="group in $ctrl.getMatches($ctrl.searchText)"
                    md-item-text="group.title"
                    placeholder="Choose a group">
                    <md-item-template>
                        <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{group.title}}</span>
                    </md-item-template>
                    <md-not-found>
                        No groups matching "{{$ctrl.searchText}}" were found.
                    </md-not-found>
                    <div ng-messages="searchForm.autocompleteField.$error" ng-if="groupForm.autocompleteField.$touched">
                        <div ng-message="required">You <b>must</b> choose a group.</div>
                        <div ng-message="md-require-match">Please select an existing group.</div>
                    </div>
                </md-autocomplete>
            </form>
            <md-input-container class="md-icon-float md-block">
                <label>Location</label>
                <md-icon><ng-md-icon icon="location_on" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.event.location" type="text">
            </md-input-container>
            <div layout="row">
                <div layout="column">
                    <div flex-gt-xs>
                        <h4>Initial date</h4>
                        <md-datepicker ng-model="$ctrl.event.date" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <div flex>
                        <md-input-container class="md-icon-float md-block">
                        <label>From time</label>
                        <md-icon><ng-md-icon icon="watch_later" ></ng-md-icon></md-icon>
                        <input ng-model="$ctrl.event.time" type="text">
                    </md-input-container>
                    </div>
                </div>
                <div layout="column">
                    <div flex-gt-xs>
                        <h4>End date</h4>
                        <md-datepicker ng-model="$ctrl.event.date2" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <div flex>
                        <md-input-container class="md-icon-float md-block">
                            <label>To time</label>
                            <md-icon><ng-md-icon icon="watch_later" ></ng-md-icon></md-icon>
                            <input ng-model="$ctrl.event.time2" type="text">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="$ctrl.event.synopsis" md-maxlength="1000" rows="8" md-select-on-focus></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-padding>
        <span flex></span>
        <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
        <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
    </div>
    </md-content>
</div>
