</md-card>
    <md-card-content>
        <div layout="column" layout-padding>
            </md-content>
            <div layout="row" layout-padding>
                <div layout="column">
                    <span class="md-headline">{{$ctrl.event.title}}</span>
                    <span class="md-subhead">{{$ctrl.event.year}}</span>
                    <div flex-gt-xs>
                        <p><md-icon><ng-md-icon icon="location_on" ></ng-md-icon></md-icon> {{$ctrl.event.location}}</p>
                    </div>
                    <div ng-show="$ctrl.groupExists()">
                        <md-button md-no-ink class="md-primary" ng-click="$ctrl.toGroup()">{{$ctrl.group.title}}</md-button>
                    </div>
                    <div layout="row">
                        <div layout="column">
                            <div flex>
                                <h4>Initial date</h4>
                                <md-datepicker ng-model="$ctrl.event.date" md-placeholder="Enter date" disabled></md-datepicker>
                            </div>
                            <div flex>
                                <h4>Initial time</h4>
                                <md-card-content>
                                    <p>{{$ctrl.event.time}}</p>
                                </md-card-content>
                            </div>
                        </div>
                        <div layout="column">
                            <div flex>
                                <h4>End date</h4>
                                <md-datepicker ng-model="$ctrl.event.date2" md-placeholder="Enter date" disabled></md-datepicker>
                            </div>
                            <div flex>
                                <h4>End time</h4>
                                <md-card-content>
                                    <p>{{$ctrl.event.time2}}</p>
                                </md-card-content>
                            </div>
                        </div>
                    </div>
                </div>
                <md-card-content>
                    <p>{{$ctrl.event.synopsis}}</p>
                </md-card-content>
            </div>
            </md-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Edit Event" ng-click="$ctrl.edit()" >
                    <md-tooltip md-direction="bottom" md-delay="1000">Edit Event</md-tooltip>
                    <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                </md-button>

                <md-button class="md-icon-button"aria-label="Delete Event" ng-click="$ctrl.delete()" >
                    <md-tooltip md-direction="bottom" md-delay="1000">Delete Event</md-tooltip>
                    <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                </md-button>
            </md-card-actions>
        </div>
    </md-card-content>
</md-card>
