<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello, mentors and mentees!</h1>
        <p>Gurumitize is a platform to get people with the same interest in touch. Solve other people doubts, socialize, meet new people...</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Roles</h2>
            <p>People can be either mentor or mentee, or maybe both!</p>
        </div>
    </div>

</div> <!-- /container -->