<div layout="row" layout-padding>
    <md-content class="md-no-momentum">
        <div layout="row" layout-padding>
            <div>
                <h4>Profile picture</h4>
            </div>
            <div layout="column">
                <div layout="row">
                    <div layout="column" layout-padding>
                        <div class="md-headline">{{$ctrl.getCurrentUserName()}} {{$ctrl.getCurrentUserSurname()}}
                            <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                                <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                            </md-button>
                        </div>
                        <div class="md-subhead">{{$ctrl.getCurrentUserBio()}}</div>
                    </div>
                    <div layout="column" layout-padding>
                        <div class="md-headline">Skill Level</div>
                        <div class="md-subhead">Skill 1</div>
                        <div class="md-subhead">Skill 2</div>
                        <div class="md-subhead">Skill 3</div>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <div class="md-title">Would like to learn: {{$ctrl.getCurrentUserGoals()}}</div>
                </div>
            </div>
        </div>
    </md-content>
</div>
