<md-card>
<md-card-content>
    <div layout="column" layout-padding>
        <md-content>
        <div layout="row" layout-padding>
            <span class="md-headline">{{$ctrl.group.title}}</span>
            <md-card-content>
                <p>{{$ctrl.group.description}}</p>
            </md-card-content>
            <md-chips ng-model="$ctrl.group.tags" readonly="true" md-removable="false">
                <div>{{$chip}}</div>
            </md-chips>
        </div>
        </md-content>
        <md-card-actions layout="row" layout-align="end center">
            <div ng-if="!$ctrl.isJoined()">
                <md-button class="md-icon-button" aria-label="Join Group" ng-click="$ctrl.join()" >
                    <md-icon><ng-md-icon icon="person_add"></ng-md-icon></md-icon>
                </md-button>
            </div>

            <div ng-if="$ctrl.isJoined()">
                <md-button class="md-icon-button" aria-label="Leave Group" ng-click="$ctrl.leave()" >
                    <md-icon><ng-md-icon icon="person_outline"></ng-md-icon></md-icon>
                </md-button>
            </div>

            <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
                <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
            </md-button>

            <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
                <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
            </md-button>
        </md-card-actions>
    </div>
</md-card-content>
</md-card>
